<a href="https://colab.research.google.com/github/akshaykumarbedre/Movie_recommendation_system/blob/main/Movie_Recommendation_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Movie Recommendation System

Recommender System is a system that seeks to predict or filter preferences according to the user's choices. Recommender systems are
utilized in a variety of areas including movies, music, news, books, research articles, search queries, social tags, and products in general.
Recommender systems produce a list of recommendations in any of the two ways -
Collaborative filtering: Collaborative filtering approaches build a model from the user's past behavior (i.e. items purchased or searched by the
user) as well as similar decisions made by other users. This model is then used to predict items (or ratings for items) that users may have an
interest in.

Content-based filtering: Content-based filtering approaches uses a series of discrete characteristics of an item in order to recommend
additional items with similar properties. Content-based filtering methods are totally based on a description of the item and a profile of the user's
preferences. It recommends items based on the user's past preferences. Let's develop a basic recommendation system using Python and
Pandas.

Let's develop a basic recommendation system by suggesting items that are most similar to a particular item, in this case, movies. It just tells
what movies/items are most similar to the user's movie choice.


## **Import Library**

In [83]:
import pandas as pd
import numpy as np

## **Import Data**

In [84]:
df=pd.read_csv(r'https://raw.githubusercontent.com/YBI-Foundation/Dataset/main/Movies%20Recommendation.csv')

In [85]:
df.head()

,Movie_ID,Movie_Title,Movie_Genre,Movie_Language,Movie_Budget,Movie_Popularity,Movie_Release_Date,Movie_Revenue,Movie_Runtime,Movie_Vote,...,Movie_Homepage,Movie_Keywords,Movie_Overview,Movie_Production_House,Movie_Production_Country,Movie_Spoken_Language,Movie_Tagline,Movie_Cast,Movie_Crew,Movie_Director
0,1,Four Rooms,Crime Comedy,en,4000000,22.876230,09-12-1995,4300000,98.0,6.5,...,NaN,hotel new year's eve witch bet hotel room,It's Ted the Bellhop's first night on the job....,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Twelve outrageous guests. Four scandalous requ...,Tim Roth Antonio Banderas Jennifer Beals Madon...,"[{'name': 'Allison Anders', 'gender': 1, 'depa...",Allison Anders
1,2,Star Wars,Adventure Action Science Fiction,en,11000000,126.393695,25-05-1977,775398007,121.0,8.1,...,http://www.starwars.com/films/star-wars-episod...,android galaxy hermit death star lightsaber,Princess Leia is captured and held hostage by ...,"[{""name"": ""Lucasfilm"", ""id"": 1}, {""name"": ""Twe...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","A long time ago in a galaxy far, far away...",Mark Hamill Harrison Ford Carrie Fisher Peter ...,"[{'name': 'George Lucas', 'gender': 2, 'depart...",George Lucas
2,3,Finding Nemo,Animation Family,en,94000000,85.688789,30-05-2003,940335536,100.0,7.6,...,http://movies.disney.com/finding-nemo,father son relationship harbor underwater fish...,"Nemo, an adventurous young clownfish, is unexp...","[{""name"": ""Pixar Animation Studios"", ""id"": 3}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","There are 3.7 trillion fish in the ocean, they...",Albert Brooks Ellen DeGeneres Alexander Gould ...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton
3,4,Forrest Gump,Comedy Drama Romance,en,55000000,138.133331,06-07-1994,677945399,142.0,8.2,...,NaN,vietnam veteran hippie mentally disabled runni...,A man with a low IQ has accomplished great thi...,"[{""name"": ""Paramount Pictures"", ""id"": 4}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","The world will never be the same, once you've ...",Tom Hanks Robin Wright Gary Sinise Mykelti Wil...,"[{'name': 'Alan Silvestri', 'gender': 2, 'depa...",Robert Zemeckis
4,5,American Beauty,Drama,en,15000000,80.878605,15-09-1999,356296601,122.0,7.9,...,http://www.dreamworks.com/ab/,male nudity female nudity adultery midlife cri...,"Lester Burnham, a depressed suburban father in...","[{""name"": ""DreamWorks SKG"", ""id"": 27}, {""name""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Look closer.,Kevin Spacey Annette Bening Thora Birch Wes Be...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes

# **Feature Selection**

In [86]:
df.columns

Index(['Movie_ID', 'Movie_Title', 'Movie_Genre', 'Movie_Language',
       'Movie_Budget', 'Movie_Popularity', 'Movie_Release_Date',
       'Movie_Revenue', 'Movie_Runtime', 'Movie_Vote', 'Movie_Vote_Count',
       'Movie_Homepage', 'Movie_Keywords', 'Movie_Overview',
       'Movie_Production_House', 'Movie_Production_Country',
       'Movie_Spoken_Language', 'Movie_Tagline', 'Movie_Cast', 'Movie_Crew',
       'Movie_Director'],
      dtype='object')

In [87]:
df_feature=df[['Movie_Genre', 'Movie_Keywords',  'Movie_Tagline', 'Movie_Cast', 'Movie_Director']]

In [88]:
df_feature.fillna(' ',inplace=True)

<ipython-input-88-24d437af535e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_feature.fillna(' ',inplace=True)

In [89]:
df_feature.head()

,Movie_Genre,Movie_Keywords,Movie_Tagline,Movie_Cast,Movie_Director
0,Crime Comedy,hotel new year's eve witch bet hotel room,Twelve outrageous guests. Four scandalous requ...,Tim Roth Antonio Banderas Jennifer Beals Madon...,Allison Anders
1,Adventure Action Science Fiction,android galaxy hermit death star lightsaber,"A long time ago in a galaxy far, far away...",Mark Hamill Harrison Ford Carrie Fisher Peter ...,George Lucas
2,Animation Family,father son relationship harbor underwater fish...,"There are 3.7 trillion fish in the ocean, they...",Albert Brooks Ellen DeGeneres Alexander Gould ...,Andrew Stanton
3,Comedy Drama Romance,vietnam veteran hippie mentally disabled runni...,"The world will never be the same, once you've ...",Tom Hanks Robin Wright Gary Sinise Mykelti Wil...,Robert Zemeckis
4,Drama,male nudity female nudity adultery midlife cri...,Look closer.,Kevin Spacey Annette Bening Thora Birch Wes Be...,Sam Mendes

In [90]:
df_feature.shape

(4760, 5)

In [91]:
x=df_feature[:].T.sum()

In [92]:
x

0       Crime Comedyhotel new year's eve witch bet hot...
1       Adventure Action Science Fictionandroid galaxy...
2       Animation Familyfather son relationship harbor...
3       Comedy Drama Romancevietnam veteran hippie men...
4       Dramamale nudity female nudity adultery midlif...
                              ...
4755    Horror The hot spot where Satan's waitin'.Lisa...
4756    Comedy Family Drama It’s better to stand out t...
4757    Thriller Dramachristian film sex traffickingSh...
4758                                           Family
4759    Documentarymusic actors legendary perfomer cla...
Length: 4760, dtype: object

## **Get Feature Text Convestion to token**

In [93]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()

In [94]:
x=vectorizer.fit_transform(x)

In [95]:
x.shape

(4760, 26690)

In [156]:
print(x)

  (0, 997)	0.16218897716465208
  (0, 24042)	0.19573940525923644
  (0, 15312)	0.14125963661980098
  (0, 15025)	0.1712334106383567
  (0, 2087)	0.18027784411206133
  (0, 12800)	0.09884510196398825
  (0, 1843)	0.14125963661980098
  (0, 1180)	0.13768298254377234
  (0, 20504)	0.14225119175320491
  (0, 23960)	0.11263290442298864
  (0, 14419)	0.0911952674290389
  (0, 17528)	0.06209189423364648
  (0, 25971)	0.17530033318796678
  (0, 9354)	0.08724859486116572
  (0, 25910)	0.11107601799071852
  (0, 12887)	0.13687175432284468
  (0, 23406)	0.10688255470486582
  (0, 17624)	0.07289043954163378
  (0, 6008)	0.11987121627273684
  (0, 9193)	0.11774519713232517
  (0, 11492)	0.20162471321580175
  (0, 12300)	0.15282415865976737
  (0, 2246)	0.19573940525923644
  (0, 14648)	0.15398639143293763
  (0, 17628)	0.08583051970457106
  :	:
  (4757, 5275)	0.19907175627875004
  (4757, 10885)	0.21770852711405092
  (4757, 21357)	0.16607843368803332
  (4757, 17223)	0.1880313826922281
  (4757, 9090)	0.1350664057724148
  (4757, 13655)	0.23511957471226388
  (4757, 11296)	0.1742104681917816
  (4757, 13533)	0.1780111577507305
  (4757, 23531)	0.10682342453037985
  (4757, 24003)	0.0982501180608628
  (4757, 12564)	0.12474473883004708
  (4757, 17155)	0.14996371815569692
  (4758, 8316)	1.0
  (4759, 17659)	0.32858085544617605
  (4759, 21774)	0.32858085544617605
  (4759, 18268)	0.32858085544617605
  (4759, 6708)	0.32858085544617605
  (4759, 333)	0.31339828306694556
  (4759, 14218)	0.31339828306694556
  (4759, 11666)	0.26831572508904095
  (4759, 4368)	0.27667129761806547
  (4759, 16987)	0.30262607653212076
  (4759, 9506)	0.21199580141652455
  (4759, 24062)	0.20586872532474834
  (4759, 2239)	0.21036750875646193

## **Get similaruty score using Cosine Similarity**

cosine-similarity computes the L2-normalized dot product of vectors, Euclidean
 L2) normalization projects the vectors onto the unit sphere.
and their dot product iS then the cosine of the angle between the points denoted by the vectors.

In [97]:
from sklearn.metrics.pairwise import cosine_similarity
Similarity_Score=cosine_similarity(x)

In [98]:
Similarity_Score.shape

(4760, 4760)

In [99]:
Similarity_Score

array([[1.        , 0.01434112, 0.03803458, ..., 0.        , 0.        ,
        0.        ],
       [0.01434112, 1.        , 0.0084257 , ..., 0.        , 0.        ,
        0.        ],
       [0.03803458, 0.0084257 , 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

# **Get Movie Name as input from user and validate for closest spelling**

In [128]:
Fav_movice_name=input("Enter Favaurite movie name: ")

Enter Favaurite movie name: avataar

In [129]:
All_movies_titile_list=df['Movie_Title'].tolist()
All_movies_titile_list[1:10]

['Star Wars',
 'Finding Nemo',
 'Forrest Gump',
 'American Beauty',
 'Dancer in the Dark',
 'The Fifth Element',
 'Metropolis',
 'My Life Without Me',
 'Pirates of the Caribbean: The Curse of the Black Pearl']

In [130]:
import difflib

In [132]:
#choose the close matches name from movice list
Movie_rec=difflib.get_close_matches(Fav_movice_name,All_movies_titile_list)[0]
print(Movie_rec)

Avatar

In [193]:
#index of the movice of input from user
index_of_Close_movie_match=df[df['Movie_Title']==Movie_rec]["Movie_ID"].values[0]
index_of_Close_movie_match

2692

In [194]:
Recomedation_score=list(enumerate(Similarity_Score[index_of_Close_movie_match]))

# **Get All movies based on recommendation score**

In [199]:
#sorting according to Recomedation_score
Sorted_Similar_Movies=sorted(Recomedation_score,key=lambda x:x[1], reverse=True)
print(Sorted_Similar_Movies[1:100])

[(3779, 0.09440231351446374), (1383, 0.08108052971364803), (1994, 0.08093334716271879), (110, 0.08035361554129483), (628, 0.07809187768640077), (3053, 0.07767698449186974), (1341, 0.07713539116178102), (2558, 0.0770500564526767), (1977, 0.07377965580050312), (3248, 0.0727155505912401), (3480, 0.07062648641793713), (2538, 0.06864657606703727), (62, 0.06722224274321834), (1886, 0.06702840459734283), (1118, 0.0621953453949175), (254, 0.061235210887638364), (2903, 0.06114546097108128), (3450, 0.05901866073186422), (1021, 0.05876122087407043), (2318, 0.05865676075218296), (2112, 0.05812222947002343), (4062, 0.05778037548037817), (4614, 0.056972394183737174), (2026, 0.056806773991091304), (3655, 0.05612467397680783), (3728, 0.05590093819188474), (1134, 0.0548383796163456), (3385, 0.054188367775122745), (2358, 0.05361354684422674), (4398, 0.05322916360612798), (4375, 0.05315646266139523), (4389, 0.05304878401774515), (1243, 0.05275389534404484), (3946, 0.05258285401956007), (873, 0.05159554291249377), (3334, 0.051370148727131415), (2214, 0.05115912502883859), (227, 0.051148532197544304), (4268, 0.050664285128138475), (137, 0.049009757195971705), (292, 0.048847711136728506), (2294, 0.04860744979644352), (1809, 0.04795823589170596), (1878, 0.04787956137468854), (4682, 0.04784898358126611), (1023, 0.04758555066571236), (213, 0.04754618540508004), (2133, 0.047420516100227725), (2550, 0.047404461696067234), (2579, 0.04734940266822132), (2944, 0.04731928058120873), (3518, 0.04730654862366623), (3203, 0.04720358861558916), (1821, 0.04711595432083653), (2191, 0.04708390605376101), (45, 0.0470703663768386), (3395, 0.04683475713285186), (3552, 0.04659257307580619), (3294, 0.04649945550192773), (877, 0.046277004870162515), (1070, 0.04620353566149355), (3973, 0.04617055055417257), (3753, 0.04615418753585781), (2653, 0.04600884146838706), (1030, 0.04587217043846245), (519, 0.04560580101328833), (4456, 0.04540061939711265), (408, 0.04522754345982792), (328, 0.04506556500350593), (2893, 0.04490160320792988), (2694, 0.044811318239229965), (3091, 0.04416423941250544), (2417, 0.044006419348021984), (3276, 0.043425907672904364), (2530, 0.04340645875974902), (4023, 0.043320933641104925), (2630, 0.04329284514454048), (479, 0.043270286699201785), (3408, 0.04322025590403752), (3023, 0.04307170457149963), (161, 0.04306946716657082), (3249, 0.04301700050341547), (904, 0.042448866637297356), (1320, 0.04241888818313774), (2374, 0.04229750449965933), (1850, 0.04201967882348475), (2248, 0.041775474075138236), (412, 0.04167382606345866), (615, 0.04166455775238519), (1358, 0.041161154977983144), (1248, 0.04112184371302263), (1647, 0.04111441469131054), (1871, 0.040971811756691685), (2375, 0.04096456004069153), (1506, 0.0408812327693746), (172, 0.04085851282356298), (67, 0.04075989390487987), (3427, 0.04061617693429827), (2859, 0.040283044493113436)]

In [198]:
# print the name of similar movies based on the index

print('Top 30 Movies Suggested for You : \n')

i= 1

for movie in Sorted_Similar_Movies:
  index = movie[0]
  title_from_index = df[df.Movie_ID == index]['Movie_Title'].values
  if (i<31):
    print(i, '.',title_from_index)
    i+=1

Top 30 Movies Suggested for You :

1 . ['Avatar']
2 . ['Act of Valor']
3 . ['Elizabethtown']
4 . ['New Nightmare']
5 . ['The Godfather']
6 . ['Gerry']
7 . ['Cradle Will Rock']
8 . ['A Prairie Home Companion']
9 . ['Bright Lights, Big City']
10 . ['Rollerball']
11 . ['Mrs. Winterbourne']
12 . ['Walking and Talking']
13 . ['The Dangerous Lives of Altar Boys']
14 . ['Donnie Darko']
15 . ['The Merchant of Venice']
16 . ['The History Boys']
17 . ['The Terminal']
18 . ['Precious']
19 . ['Submarine']
20 . ['Water']
21 . ['The Great Debaters']
22 . ['Four Christmases']
23 . ['Bang']
24 . ['The Opposite Sex']
25 . ['Shaolin Soccer']
26 . ['The Swindle']
27 . ['The Iron Lady']
28 . ['Baby Mama']
29 . ['Crazy Stone']
30 . ['Repo! The Genetic Opera']

# Top 10 Movie recommendation system

In [183]:
Movie_Name = input(' Enter your favourite movie name : ')

list_of_all_titles = df['Movie_Title'].tolist()

Find_Close_Match = difflib.get_close_matches(Movie_Name, list_of_all_titles)

Close_Match = Find_Close_Match[0]

Index_of_Movie = df[df.Movie_Title == Close_Match]['Movie_ID'].values[0]
print("****",Index_of_Movie)

Recommendation_Score = list(enumerate(Similarity_Score[Index_of_Movie]))

sorted_similar_movies = sorted(Recommendation_Score, key = lambda x:x[1], reverse = True)

print('Top 10 Movies suggested for you : \n')

i= 1

for movie in sorted_similar_movies:
  index = movie[0]
  title_from_index = df[df.Movie_ID == index]['Movie_Title'].values
  if (i<11):
    print(i, '.',title_from_index)
    i+=1

 Enter your favourite movie name : Avatar
**** 2692
Top 10 Movies suggested for you :

1 . ['Avatar']
2 . ['Act of Valor']
3 . ['Elizabethtown']
4 . ['New Nightmare']
5 . ['The Godfather']
6 . ['Gerry']
7 . ['Cradle Will Rock']
8 . ['A Prairie Home Companion']
9 . ['Bright Lights, Big City']
10 . ['Rollerball']