<a href="https://colab.research.google.com/github/akshaykumarbedre/Movie_recommendation_system/blob/main/Movie_Recommendation_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Movie Recommendation System

Recommender System is a system that seeks to predict or filter preferences according to the user's choices. Recommender systems are
utilized in a variety of areas including movies, music, news, books, research articles, search queries, social tags, and products in general.
Recommender systems produce a list of recommendations in any of the two ways -
Collaborative filtering: Collaborative filtering approaches build a model from the user's past behavior (i.e. items purchased or searched by the
user) as well as similar decisions made by other users. This model is then used to predict items (or ratings for items) that users may have an
interest in.

Content-based filtering: Content-based filtering approaches uses a series of discrete characteristics of an item in order to recommend
additional items with similar properties. Content-based filtering methods are totally based on a description of the item and a profile of the user's
preferences. It recommends items based on the user's past preferences. Let's develop a basic recommendation system using Python and
Pandas.

Let's develop a basic recommendation system by suggesting items that are most similar to a particular item, in this case, movies. It just tells
what movies/items are most similar to the user's movie choice.


## **Import Library**

In [1]:
import pandas as pd
import numpy as np

## **Import Data**

In [9]:
df=pd.read_csv(r'https://raw.githubusercontent.com/YBI-Foundation/Dataset/main/Movies%20Recommendation.csv')

In [10]:
df.head()

,Movie_ID,Movie_Title,Movie_Genre,Movie_Language,Movie_Budget,Movie_Popularity,Movie_Release_Date,Movie_Revenue,Movie_Runtime,Movie_Vote,...,Movie_Homepage,Movie_Keywords,Movie_Overview,Movie_Production_House,Movie_Production_Country,Movie_Spoken_Language,Movie_Tagline,Movie_Cast,Movie_Crew,Movie_Director
0,1,Four Rooms,Crime Comedy,en,4000000,22.876230,09-12-1995,4300000,98.0,6.5,...,NaN,hotel new year's eve witch bet hotel room,It's Ted the Bellhop's first night on the job....,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Twelve outrageous guests. Four scandalous requ...,Tim Roth Antonio Banderas Jennifer Beals Madon...,"[{'name': 'Allison Anders', 'gender': 1, 'depa...",Allison Anders
1,2,Star Wars,Adventure Action Science Fiction,en,11000000,126.393695,25-05-1977,775398007,121.0,8.1,...,http://www.starwars.com/films/star-wars-episod...,android galaxy hermit death star lightsaber,Princess Leia is captured and held hostage by ...,"[{""name"": ""Lucasfilm"", ""id"": 1}, {""name"": ""Twe...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","A long time ago in a galaxy far, far away...",Mark Hamill Harrison Ford Carrie Fisher Peter ...,"[{'name': 'George Lucas', 'gender': 2, 'depart...",George Lucas
2,3,Finding Nemo,Animation Family,en,94000000,85.688789,30-05-2003,940335536,100.0,7.6,...,http://movies.disney.com/finding-nemo,father son relationship harbor underwater fish...,"Nemo, an adventurous young clownfish, is unexp...","[{""name"": ""Pixar Animation Studios"", ""id"": 3}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","There are 3.7 trillion fish in the ocean, they...",Albert Brooks Ellen DeGeneres Alexander Gould ...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton
3,4,Forrest Gump,Comedy Drama Romance,en,55000000,138.133331,06-07-1994,677945399,142.0,8.2,...,NaN,vietnam veteran hippie mentally disabled runni...,A man with a low IQ has accomplished great thi...,"[{""name"": ""Paramount Pictures"", ""id"": 4}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","The world will never be the same, once you've ...",Tom Hanks Robin Wright Gary Sinise Mykelti Wil...,"[{'name': 'Alan Silvestri', 'gender': 2, 'depa...",Robert Zemeckis
4,5,American Beauty,Drama,en,15000000,80.878605,15-09-1999,356296601,122.0,7.9,...,http://www.dreamworks.com/ab/,male nudity female nudity adultery midlife cri...,"Lester Burnham, a depressed suburban father in...","[{""name"": ""DreamWorks SKG"", ""id"": 27}, {""name""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Look closer.,Kevin Spacey Annette Bening Thora Birch Wes Be...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes

# **Feature Selection**

In [14]:
df.columns

Index(['Movie_ID', 'Movie_Title', 'Movie_Genre', 'Movie_Language',
       'Movie_Budget', 'Movie_Popularity', 'Movie_Release_Date',
       'Movie_Revenue', 'Movie_Runtime', 'Movie_Vote', 'Movie_Vote_Count',
       'Movie_Homepage', 'Movie_Keywords', 'Movie_Overview',
       'Movie_Production_House', 'Movie_Production_Country',
       'Movie_Spoken_Language', 'Movie_Tagline', 'Movie_Cast', 'Movie_Crew',
       'Movie_Director'],
      dtype='object')

In [17]:
df_feature=df[['Movie_Genre', 'Movie_Keywords',  'Movie_Tagline', 'Movie_Cast', 'Movie_Director']]

In [18]:
df_feature.fillna(' ',inplace=True)

<ipython-input-18-24d437af535e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_feature.fillna(' ',inplace=True)

In [19]:
df_feature.head()

,Movie_Genre,Movie_Keywords,Movie_Tagline,Movie_Cast,Movie_Director
0,Crime Comedy,hotel new year's eve witch bet hotel room,Twelve outrageous guests. Four scandalous requ...,Tim Roth Antonio Banderas Jennifer Beals Madon...,Allison Anders
1,Adventure Action Science Fiction,android galaxy hermit death star lightsaber,"A long time ago in a galaxy far, far away...",Mark Hamill Harrison Ford Carrie Fisher Peter ...,George Lucas
2,Animation Family,father son relationship harbor underwater fish...,"There are 3.7 trillion fish in the ocean, they...",Albert Brooks Ellen DeGeneres Alexander Gould ...,Andrew Stanton
3,Comedy Drama Romance,vietnam veteran hippie mentally disabled runni...,"The world will never be the same, once you've ...",Tom Hanks Robin Wright Gary Sinise Mykelti Wil...,Robert Zemeckis
4,Drama,male nudity female nudity adultery midlife cri...,Look closer.,Kevin Spacey Annette Bening Thora Birch Wes Be...,Sam Mendes

In [20]:
df_feature.shape

(4760, 5)

In [30]:
x=df_feature[:].T.sum()

In [31]:
x

0       Crime Comedyhotel new year's eve witch bet hot...
1       Adventure Action Science Fictionandroid galaxy...
2       Animation Familyfather son relationship harbor...
3       Comedy Drama Romancevietnam veteran hippie men...
4       Dramamale nudity female nudity adultery midlif...
                              ...
4755    Horror The hot spot where Satan's waitin'.Lisa...
4756    Comedy Family Drama Itâ€™s better to stand out t...
4757    Thriller Dramachristian film sex traffickingSh...
4758                                           Family
4759    Documentarymusic actors legendary perfomer cla...
Length: 4760, dtype: object

## **Get Feature Text Convestion to token**

In [32]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()

In [34]:
x=vectorizer.fit_transform(x)

In [37]:
x.shape

(4760, 26690)

In [38]:
print(x)

  (0, 997)	0.16218897716465208
  (0, 24042)	0.19573940525923644
  (0, 15312)	0.14125963661980098
  (0, 15025)	0.1712334106383567
  (0, 2087)	0.18027784411206133
  (0, 12800)	0.09884510196398825
  (0, 1843)	0.14125963661980098
  (0, 1180)	0.13768298254377234
  (0, 20504)	0.14225119175320491
  (0, 23960)	0.11263290442298864
  (0, 14419)	0.0911952674290389
  (0, 17528)	0.06209189423364648
  (0, 25971)	0.17530033318796678
  (0, 9354)	0.08724859486116572
  (0, 25910)	0.11107601799071852
  (0, 12887)	0.13687175432284468
  (0, 23406)	0.10688255470486582
  (0, 17624)	0.07289043954163378
  (0, 6008)	0.11987121627273684
  (0, 9193)	0.11774519713232517
  (0, 11492)	0.20162471321580175
  (0, 12300)	0.15282415865976737
  (0, 2246)	0.19573940525923644
  (0, 14648)	0.15398639143293763
  (0, 17628)	0.08583051970457106
  :	:
  (4757, 5275)	0.19907175627875004
  (4757, 10885)	0.21770852711405092
  (4757, 21357)	0.16607843368803332
  (4757, 17223)	0.1880313826922281
  (4757, 9090)	0.1350664057724148
  (4757, 13655)	0.23511957471226388
  (4757, 11296)	0.1742104681917816
  (4757, 13533)	0.1780111577507305
  (4757, 23531)	0.10682342453037985
  (4757, 24003)	0.0982501180608628
  (4757, 12564)	0.12474473883004708
  (4757, 17155)	0.14996371815569692
  (4758, 8316)	1.0
  (4759, 17659)	0.32858085544617605
  (4759, 21774)	0.32858085544617605
  (4759, 18268)	0.32858085544617605
  (4759, 6708)	0.32858085544617605
  (4759, 333)	0.31339828306694556
  (4759, 14218)	0.31339828306694556
  (4759, 11666)	0.26831572508904095
  (4759, 4368)	0.27667129761806547
  (4759, 16987)	0.30262607653212076
  (4759, 9506)	0.21199580141652455
  (4759, 24062)	0.20586872532474834
  (4759, 2239)	0.21036750875646193

## **Get similaruty score using Cosine Similarity**

cosine-similarity computes the L2-normalized dot product of vectors, Euclidean
 L2) normalization projects the vectors onto the unit sphere.
and their dot product iS then the cosine of the angle between the points denoted by the vectors.

In [41]:
from sklearn.metrics.pairwise import cosine_similarity
Similarity_Score=cosine_similarity(x)

In [43]:
Similarity_Score.shape

(4760, 4760)

In [44]:
Similarity_Score

array([[1.        , 0.01434112, 0.03803458, ..., 0.        , 0.        ,
        0.        ],
       [0.01434112, 1.        , 0.0084257 , ..., 0.        , 0.        ,
        0.        ],
       [0.03803458, 0.0084257 , 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])